.posts-page-layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.posts-tags-container {
    width: 100%;
    margin-top: 20px;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    background-color: var(--posts-tags-background-color);

    .posts-tags-box {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .tag-item-box {
        height: 30px;
        display: flex;
        align-items: center;
        background-color: var(--posts-tags-item-background-color);
        padding: 10px;
        border-radius: 5px;
        font-size: 13px;
        margin: 10px;

        &:hover {
            cursor: pointer;
            color: #ffc02a;
        }
    }
}