.links-main-layout {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.links-desc-container {
    width: 100%;
    padding: 20px;
    display: flex;
    margin-top: 20px;
    background-color: var(--background-color);
    box-shadow: var(--post-box-shadow);
    border-radius: 12px;
    align-items: center;

    span {
        font-family: "AlibabaPuHuiTi", "Arial Narrow", Arial, sans-serif;
        font-size: 14px;
        letter-spacing: 1px;
    }
}

.links-items-container {
    width: 100%;
    flex-wrap: wrap;
    margin-top: 20px;
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: repeat(auto-fill, 156px);
}

.link-item-container {
    width: 260px;
    height: 100px;
    margin: 20px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--background-color);
    box-shadow: var(--post-box-shadow);
    transition: all .3s;

    &:hover {
        box-shadow: var(--post-box-shadow-hover);
        cursor: pointer;
    }

    .link-item-avatar {
        width: 64px;
        height: 64px;
        background-color: #EEEEEE;
        border-radius: 50%;
    }

    .link-item-blog-info {
        width: calc(100% - 120px);
        height: 100%;
        display: flex;
        flex-direction: column;
        font-size: 13px;

        .link-item-name {
            color: #FAC145;
            font-size: 18px;
            margin-top: 20px;
            margin-bottom: 10px;
        }

        .link-item-desc {
            margin-bottom: 10px;
            height: calc(100% - 80px);
            overflow: hidden;
            white-space: wrap;
            text-overflow: ellipsis;
        }
    }
}
