.home-introduction-container {
    width: 770px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    font-size: 20px;

    /* S (320px - 479px) */
    @media (max-width: 1423px) {
        margin-top: 60px;
        height: 100%;
    }

    .desc-second-style {
        font-size: 20px;
        letter-spacing: 2px;
        line-height: 50px;

        .important-desc {
            text-decoration-line: underline;
            text-decoration-color: #FAC145;
            text-decoration-style: double;
        }
    }

    /* S (320px - 479px) */
    @media (max-width: 679px) {
        /*margin-top: 70px;*/
        .hello-world-style {
            font-size: 2rem;
            margin-bottom: 10px;
        }

        .desc-style {
            font-size: 1rem;
            letter-spacing: 2px;
        }
    }

    /* M (480px - 767px) */
    @media (min-width: 480px) and (max-width: 767px) {
        /*margin-top: 90px;*/
        .hello-world-style {
            font-size: 3rem;
            margin-bottom: 20px;
        }
        .desc-style {
            font-size: 1.5rem;
            letter-spacing: 2px;
        }
    }

    /* L (1440px及以上) */
    @media (min-width: 768px) {
        /*margin-top: 120px;*/
        .hello-world-style {
            font-size: 4rem;
            margin-bottom: 20px;
        }
        .desc-style {
            font-size: 2rem;
            letter-spacing: 2px;
        }
    }

}