.home-introduction-container {
    width: 550px;
    /*height: 550px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    font-size: 20px;

    /* S (320px - 479px) */
    @media (max-width: 1179px) {
        margin-top: 60px;
        /*height: 100%;*/
    }

    .desc-second-style {
        font-size: 20px;
        letter-spacing: 2px;
        line-height: 50px;

        .important-desc {
            text-decoration-line: underline;
            text-decoration-color: #FAC145;
            text-decoration-style: double;
        }
    }

    /* S (320px - 479px) */
    @media (max-width: 679px) {
        /*margin-top: 70px;*/
        .hello-world-style {
            font-size: 2rem;
            margin-bottom: 10px;
        }

        .desc-style {
            font-size: 1rem;
            letter-spacing: 2px;
        }
    }

    /* M (480px - 767px) */
    @media (min-width: 480px) and (max-width: 767px) {
        /*margin-top: 90px;*/
        .hello-world-style {
            font-size: 2.8rem;
            margin-bottom: 20px;
        }
        .desc-style {
            font-size: 1.5rem;
            letter-spacing: 2px;
        }
    }

    /* L (1440px及以上) */
    @media (min-width: 768px) {
        /*margin-top: 120px;*/
        .hello-world-style {
            font-size: 3.5rem;
            margin-bottom: 20px;
        }
        .desc-style {
            font-size: 1.8rem;
            letter-spacing: 2px;
        }
    }
}

.posts-main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .post-content-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        margin: 20px 0;
        box-shadow: var(--post-box-shadow);
        background-color: var(--background-color);
        transition: all .3s;
        padding: 20px;

        &:hover {
            box-shadow: var(--post-box-shadow-hover);
            cursor: pointer;
        }

        .post-title-container {
            display: flex;

            .post-title {
                font-size: 20px;
                display: inline-block;
                position: relative;
                line-height: 45px;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: 0;
                    height: 2px;
                    visibility: hidden;
                    background-color: #FAC145;
                    transition: .3s ease-in-out;
                    transform: scaleX(0);
                }

                &:hover {
                    color: #FAC145;
                    transition: all .3s;
                }

                &:hover::after {
                    left: 0;
                    visibility: visible;
                    transform: scaleX(1);
                    width: 100%;
                }
            }
        }

        .post-content {
            width: 100%;
            margin-top: 20px;
            line-height: 30px;
            font-family: "Alibaba PuHuiTi 2.0", sans-serif;
        }

        .post-author-container {
            width: 100%;
            display: flex;
            font-size: 13px;
            margin-top: 30px;

            .post-author-item {
                display: flex;
                margin-right: 20px;

                span {
                    margin-left: 10px
                }
            }
        }
    }
}


