.post-page-layout {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-page-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.post-title {
    width: 100%;
    font-size: 28px;
}

.post-desc-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: 13px;

    .post-desc-author {
        display: flex;
        align-items: center;
        margin-right: 20px;
    }

    .post-desc-time {
        display: flex;
        align-items: center;
    }

    span {
        margin-left: 5px;
    }
}

.post-content {
    width: 100%;
    letter-spacing: 1px;
    margin-top: 30px;
    font-size: 15px;
    font-family: "Alibaba PuHuiTi 2.0", "Arial Narrow", Arial, sans-serif;
    line-height: 30px;
    margin-bottom: 20px;
}

.code-area-container {
    margin: 20px 10px;
    border-radius: 8px;
    box-shadow: var(--post-box-shadow);
}

.mac-editor-icons {
    width: 100%;
    height: 28px;
    background-color: var(--mac-editor-background-color);
    display: flex;
    align-items: center;
    border-radius: 8px 8px 0 0  !important;

    .mac-editor-icon {
        width: 13px;
        height: 13px;
        border-radius: 50%;
        margin: 0 3px;
    }
}

.code-container {
    margin: 0 !important;
    border-radius: 0 0 8px 8px !important;
}

pre {
    font-size: 13px;
}

.post-content {
    p {
        font-size: 14px;
        line-height: 48px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 16px;
    }

    hr {
        margin: 15px 0;
        border-block-color: var(--post-hr-color);
        border-block-end-width: 2px;
    }

    p code {
        font-size: 12px;
        padding: 5px 10px;
        border-radius: 6px;
        background-color: var(--blockquote-background-color);
        color: #FAC145;
    }

    ul {
        list-style: none; /* 取消默认的列表样式 */
        padding-left: 10px;
    }

    ul > li::before {
        content: '• ';
        font-size: 20px;
    }

    ol {
        list-style: none;
        counter-reset: item;
        padding-left: 10px;
    }

    ol > li::before {
        content: counter(item) ". "; /* 显示当前计数器的值并加一个点 */
        counter-increment: item; /* 每次增加计数器的值 */
        font-weight: bold; /* 设置序号为加粗 */
    }

    blockquote {
        padding: 10px 20px;
        margin: 20px 0;
        border-radius: 4px;
        border-left: 5px solid #FAC145;
        background-color: var(--blockquote-background-color);
        font-style: italic; /* 斜体 */
    }
}